<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>ID Evento</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Lugar</th>
                <th>Cliente</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td>{{ evento.idEvento }}</td>
                <td>{{ evento.nombre }}</td>
                <td>{{ evento.fecha }}</td>
                <td>{{ evento.hora }}</td>
                <td>{{ evento.lugar }}</td>
                <td>{{ evento.cliente }}</td>
                <td>{{ evento.categoria }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
