<!DOCTYPE html>
<html lang="en">

<head>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Tooplate">
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
            rel="stylesheet">

        <title>Agenda de Eventos TRRD</title>


        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.min.css" ) }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/font-awesome.css" ) }}">



        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/owl-carousel.css" ) }}">

        <link rel="stylesheet" href="{{ url_for("static", filename="css/tooplate-artxibition.css" ) }}">

    </head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->



    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="https://algo-97w5.onrender.com/home#" class="logo text-center"><em>TRRD</em></a>
                        <!-- ***** Logo End ***** -->

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">

                        <h6>Apertura el jueves 31 de marzo</h6>
                        <h2>Agenda tus eventos</h2>
                        <div class="main-white-button">
                            <a href="https://algo-97w5.onrender.com/home#">Inicia tu reserva</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- *** Owl Carousel Items ***-->
    <div class="show-events-carousel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-show-events owl-carousel">
                        <div class="item">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/show-events-01.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/show-events-02.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/show-events-03.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/show-events-04.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/show-events-01.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/show-events-02.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/show-events-03.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/show-events-04.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- *** Amazing Venus ***-->
    <div class="amazing-venues">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="left-content text-center"></div>
                    <h4>Ingresa a nuestra pagina para reservar</h4>
                    <p>
                        Nuestro compromiso<br><br>
                        En TRRD Agenda creemos que cada evento, por pequeño o grande que sea, merece un lugar especial
                        donde pueda crecer y dejar huella. Nuestro compromiso es brindarte una herramienta confiable y
                        accesible que te permita organizar, consultar y gestionar tus actividades sin
                        complicaciones.<br><br>

                        Nos comprometemos a:<br><br>

                        • Garantizar organización y claridad en cada evento registrado, evitando confusiones y pérdidas
                        de información.<br><br>
                        • Facilitar la experiencia de los usuarios, con un diseño intuitivo que te permita concentrarte
                        en lo importante: tu evento.<br><br>
                        • Mantener la confianza de quienes nos eligen, protegiendo la información y ofreciendo soporte
                        cuando lo necesites.<br><br>
                        • Fomentar la colaboración entre las diferentes sedes, conectando a personas, equipos e ideas en
                        un mismo espacio digital.
                    </p>
                </div>
            </div>
            <!--
                <div class="col-lg-3">
                    <div class="right-content">
                        <h5><i class="fa fa-map-marker"></i> Visit Us</h5>
                        <span>5 College St NW, <br>Norcross, GA 30071<br>United States</span>
                        <div class="text-button"><a href="show-events-details.html">Need Directions? <i
                                    class="fa fa-arrow-right"></i></a></div>
                    </div>
                </div>
                -->
        </div>
    </div>
    </div>


    <!-- *** Map ***-->
    <!--
    <div class="map-image">
        <img src="{{ url_for('static', filename='images/map-image.jpg') }}" alt="Maps of 3 Venues">
    </div>
    -->

    <!-- *** Venues & Tickets ***-->
    <div class="venue-tickets">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Espacios y Reservas</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='images/venue-01.jpg') }}" alt="no encontrada">
                        </div>
                        <div class="down-content">
                            <div class="right-content">
                                <h4>Estadio GNP</h4>
                                <p>Organiza y agenda tus eventos en este espacio. Consulta disponibilidad y reserva
                                    fácilmente para tus actividades.</p>
                                <ul>
                                    <li><i class="fa fa-sitemap"></i> Capacidad: 250</li>
                                    <li><i class="fa fa-user"></i> Asistentes: 500</li>
                                </ul>
                                <div class="price">
                                    <span>Reserva<br>desde <em>$999</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='images/venue-02.jpg') }}" alt="no encontrada">
                        </div>
                        <div class="down-content">
                            <div class="right-content">
                                <h4>Estadio BBVA</h4>
                                <p>Agenda tus eventos en Estadio BBVA. Consulta fechas disponibles, reserva
                                    espacios y gestiona asistentes de manera eficiente.</p>
                                <ul>
                                    <li><i class="fa fa-sitemap"></i> Capacidad: 450</li>
                                    <li><i class="fa fa-user"></i> Asistentes: 650</li>
                                </ul>
                                <div class="price">
                                    <span>Reserva<br>desde <em>$1000</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='images/venue-03.jpg') }}" alt="no encontrada">
                        </div>
                        <div class="down-content">
                            <div class="right-content">
                                <h4>Plaza de toros de Piedras Negras</h4>
                                <p>Organiza tus eventos Plaza de toros de Piedras Negras. Consulta disponibilidad, reserva espacios y
                                    gestiona asistentes fácilmente.</p>
                                <ul>
                                    <li><i class="fa fa-sitemap"></i> Capacidad: 450</li>
                                    <li><i class="fa fa-user"></i> Asistentes: 750</li>
                                </ul>
                                <div class="price">
                                    <span>Reserva<br>desde <em>$650</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- *** Coming Events ***-->
    <div class="coming-events">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/event-01.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="down-content">
                            <a href="event-details.html">
                                <h4>Radio City Musical Hall</h4>
                            </a>
                            <a href="event-details.html">
                                <h4>Radio City Musical Hall</h4>
                            </a>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> Tuesday: 15:30-19:30</li>
                                <li><i class="fa fa-map-marker"></i> Copacabana Beach, Rio de Janeiro</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/event-02.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="down-content">
                            <a href="event-details.html">
                                <h4>Madison Square Garden</h4>
                            </a>
                            <a href="event-details.html">
                                <h4>Madison Square Garden</h4>
                            </a>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> Miércoles: 08:00-14:00</li>
                                <li><i class="fa fa-map-marker"></i> Playa Copacabana, Río de Janeiro</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="event-details.html"><img
                                    src="{{ url_for('static', filename='images/event-03.jpg') }}"
                                    alt="no encontrada"></a>
                        </div>
                        <div class="down-content">
                            <a href="event-details.html">
                                <h4>Royce Hall</h4>
                            </a>
                            <a href="event-details.html">
                                <h4>Royce Hall</h4>
                            </a>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> Jueves: 09:00-23:00</li>
                                <li><i class="fa fa-map-marker"></i> Playa Copacabana, Río de Janeiro</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- *** Subscribe *** -->
    <!--
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Subscribe Our Newsletter:</h4>
                </div>
                <div class="col-lg-8">
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                            <div class="col-lg-9">
                                <fieldset>
                                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                        placeholder="Your Email Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-3">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  
    -->
    <!-- *** Footer *** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <div class="logo text-center"><span>Art<em>Xibition</em></span></div>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imgfix.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mixitup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imgfix.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mixitup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/accordions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>


    <!-- Global Init -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>

</body>

</html>