<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>ArtXibition HTML Event Template</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for(" static ", filename="css/bootstrap.min.css ") }}">
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">
        <div class="counter-content">
            <ul>
                <li>Days<span id="days"></span></li>
                <li>Hours<span id="hours"></span></li>
                <li>Minutes<span id="minutes"></span></li>
                <li>Seconds<span id="seconds"></span></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="next-show">
                            <i class="fa fa-arrow-up"></i>
                            <span>Next Show</span>
                        </div>
                        <h6>Opening on Thursday, March 31st</h6>
                        <h2>The Sunny Hill Festival 2022</h2>
                        <div class="main-white-button">
                            <a href="http://localhost:5000/home#">Purchase Tickets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- *** Owl Carousel Items ***-->
    <div class="show-events-carousel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-show-events owl-carousel">
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='images/show-events-01.jpg') }}" alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='images/show-events-02.jpg') }}" alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='images/show-events-03.jpg') }}" alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='images/show-events-04.jpg') }}" alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='images/show-events-01.jpg') }}" alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='images/show-events-02.jpg') }}" alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='images/show-events-03.jpg') }}" alt="no encontrada"></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='images/show-events-04.jpg') }}" alt="no encontrada"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- *** Amazing Venus ***-->
    <div class="amazing-venues">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="left-content">
                        <h4>Three Amazing Venues for events</h4>
                        <p>ArtXibition Event Template is brought to you by Tooplate website and it included total 7 HTML pages. These are <a href="index.html">Homepage</a>, <a href="about.html">About</a>,
                            <a href="rent-venue.html">Rent a venue</a>, <a href="shows-events.html">shows &amp; events</a>,
                            <a href="event-details.html">event details</a>, <a href="tickets.html">tickets</a>, and <a href="ticket-details.html">ticket details</a>. You can feel free to modify any page as you like. If you have any question, please visit
                            our <a href="https://www.tooplate.com/contact" target="_blank" rel="noopener noreferrer">Contact page</a>.</p>
                        <br>
                        <p>You can use this event template for your commercial or business website. You are not permitted to redistribute this template ZIP file on any template download website. If you need the latest HTML templates, you may visit <a href="https://www.toocss.com/"
                                target="_blank" rel="noopener noreferrer">Too CSS</a> website that features a great collection of templates in different categories.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="right-content">
                        <h5><i class="fa fa-map-marker"></i> Visit Us</h5>
                        <span>5 College St NW, <br>Norcross, GA 30071<br>United States</span>
                        <div class="text-button"><a href="show-events-details.html">Need Directions? <i class="fa fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- *** Map ***-->
    <div class="map-image">
        <img src="{{ url_for('static', filename='images/map-image.jpg') }}" alt="Maps of 3 Venues">
    </div>


    <!-- *** Venues & Tickets ***-->
    <div class="venue-tickets">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Venues & Tickets</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='images/venue-01.jpg') }}" alt="no encontrada">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                    <a href="ticket-details.html">Purchase Tickets</a>
                                </div>
                            </div>
                            <div class="right-content">
                                <h4>Radio City Musical Hall</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur vinzi iscing elit, sed doers kontra.</p>
                                <ul>
                                    <li><i class="fa fa-sitemap"></i>250</li>
                                    <li><i class="fa fa-user"></i>500</li>
                                </ul>
                                <div class="price">
                                    <span>1 ticket<br>from <em>$45</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='images/venue-02.jpg') }}" alt="no encontrada">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                    <a href="ticket-details.html">Purchase Tickets</a>
                                </div>
                            </div>
                            <div class="right-content">
                                <h4>Madison Square Garden</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur vinzi iscing elit, sed doers kontra.</p>
                                <ul>
                                    <li><i class="fa fa-sitemap"></i>450</li>
                                    <li><i class="fa fa-user"></i>650</li>
                                </ul>
                                <div class="price">
                                    <span>1 ticket<br>from <em>$55</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='images/venue-03.jpg') }}" alt="no encontrada">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                    <a href="ticket-details.html">Purchase Tickets</a>
                                </div>
                            </div>
                            <div class="right-content">
                                <h4>Royce Hall</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur vinzi iscing elit, sed doers kontra.</p>
                                <ul>
                                    <li><i class="fa fa-sitemap"></i>450</li>
                                    <li><i class="fa fa-user"></i>750</li>
                                </ul>
                                <div class="price">
                                    <span>1 ticket<br>from <em>$65</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- *** Coming Events ***-->
    <div class="coming-events">
        <div class="left-button">
            <div class="main-white-button">
                <a href="shows-events.html">Discover More</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {# Mostrar hasta 3 eventos desde el contexto 'eventos' #} {% if eventos and eventos|length > 0 %} {% for evento in eventos[:3] %}
                <div class="col-lg-4">
                    <div class="event-item">
                        <div class="thumb">
                            {% if evento.imagen %}
                            <a href="/eventos/{{ evento.idEvento }}"><img src="{{ url_for('static', filename=evento.imagen) }}" alt="{{ evento.descripcionEvento }}"></a>
                            {% else %}
                            <a href="/eventos/{{ evento.idEvento }}"><img src="{{ url_for('static', filename='images/event-01.jpg') }}" alt="{{ evento.descripcionEvento }}"></a>
                            {% endif %}
                        </div>
                        <div class="down-content">
                            <a href="/eventos/{{ evento.idEvento }}">
                                <h4>{{ evento.descripcionEvento or 'Evento sin título' }}</h4>
                            </a>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> {{ evento.fechaInicio or 'Fecha no especificada' }}</li>
                                <li><i class="fa fa-map-marker"></i> {{ evento.nombreLugar or 'Lugar no especificado' }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %} {% else %}
                <div class="col-12 text-center py-4">
                    <p class="text-muted">No hay eventos próximos.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- *** Subscribe *** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Subscribe Our Newsletter:</h4>
                </div>
                <div class="col-lg-8">
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                            <div class="col-lg-9">
                                <fieldset>
                                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-3">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- *** Footer *** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="address">
                        <h4>Sunny Hill Festival Address</h4>
                        <span>5 College St NW, <br>Norcross, GA 30071<br>United States</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="links">
                        <h4>Categories</h4>
                        <ul>
                            {% if categorias and categorias|length > 0 %} {% for categoria in categorias[:5] %}
                            <li><a href="/categorias/{{ categoria.idCategoria }}">{{ categoria.nombreCategoria }}</a></li>
                            {% endfor %} {% else %}
                            <li><a href="#">No hay categorías</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hours">
                        <h4>Open Hours</h4>
                        <ul>
                            <li>Mon to Fri: 10:00 AM to 8:00 PM</li>
                            <li>Sat - Sun: 11:00 AM to 4:00 PM</li>
                            <li>Holidays: Closed</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <p>São Conrado, Rio de Janeiro</p>
                                <p>Clientes registrados: {{ clientes|length if clientes else 0 }}</p>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <p class="copyright">Copyright 2021 ArtXibition Company

                                    <br>Design: <a rel="nofollow" href="https://www.tooplate.com" target="_parent">Tooplate</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="logo"><span>Art<em>Xibition</em></span></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="menu">
                                    <ul>
                                        <li><a href="index.html" class="active">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="rent-venue.html">Rent Venue</a></li>
                                        <li><a href="shows-events.html">Shows & Events</a></li>
                                        <li><a href="tickets.html">Tickets</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#" title="Twitter" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#" title="Facebook" aria-label="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#" title="Behance" aria-label="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                        <li><a href="#" title="Instagram" aria-label="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imgfix.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mixitup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/accordions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>

    <!-- Global Init -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    </body>

</html>