<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody>
            {% for lugar in lugares %}
            <tr>
                <td>{{ lugar.idLugar }}</td>
                <td>{{ lugar.nombreLugar }}</td>
                <td>{{ lugar.direccion }}</td>
                <td>{{ lugar.ubicacion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
