<!-- Formulario para nuevo lugar -->
<form ng-submit="guardar(lugares)" id="frmLugares "method="POST" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <label class="form-label mb-1">Nombre del Lugar</label>
            <input required type="text" ng-model="lugares.nombreLugar" class="form-control" placeholder="Nombre del lugar">
        </div>
        <div class="col-md-4">
            <label class="form-label mb-1">Direccion</label>
            <input required type="text" ng-model="lugares.direccion" class="form-control" placeholder="Dirección">
        </div>
        <div class="col-md-3">
            <label class="form-label mb-1">Ubicacion</label>
            <input required type="text" ng-model="lugares.ubicacion" class="form-control" placeholder="Ubicación">
        </div>
        <div class="col-md-2">
            <button class="btn btn-success w-100" type="submit">Registrar</button>
        </div>
    </div>
</form>


<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody>

            {% for lugar in lugares %}
            <tr>
                <td>{{ lugar.idLugar }}</td>
                <td>{{ lugar.nombreLugar }}</td>
                <td>{{ lugar.direccion }}</td>
                <td>{{ lugar.ubicacion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
